.tasks-main{
     display: flex;
     padding: 10px;
     flex-direction: column;
      /* border: 1px solid black; */
}

.tasks-main-title-img{
     width: 158px;
     height: 158px;
     border-radius: 10px;
}

.tasks-main-title {
     /* padding: 10px; */
    display: flex;
    /* flex-direction:column ; */
    align-items: center;
      /* small gap between title and priority */
    /* flex-wrap: nowrap; */
    /* border: 1px solid black; */
}

.titles{
     margin: 0px;
     padding-left: 0;
     padding: 10px;

}

.titles h5{
     margin-top: 0;
}

.priority,
.status,
.created{
     gap: 5px;
     display: flex;
     margin: 0;
     font-size: 12px;    
}
.value{
     color:#F21E1E;
}

.created .id{
     color: #A1A3AB;
}


.tasks-main-description{
     padding-top: 5px;
     gap: 55px;
     /* display: flex; */
}

.objective,
.description{
     gap:100px
}

.des-id{
     color: #747474;
}

.des-value{
     color: #A1A3AB;
}